<p>
  <% @proposals.each do |proposal| %>
      <br>
      <%= proposal.idea %> Actions:
      <%= link_to 'Show', proposal_path(proposal) %> -
      <%= link_to 'Edit', edit_proposal_path(proposal) %> -
      <%= link_to 'Delete', proposal_path(proposal), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
<p>
  <%= link_to 'new', new_proposal_path %>
</p>