<p>
  <strong>Title:</strong>
  <%= @proposal.idea %>
</p>
<p>
<h2>Refutations</h2>
<%= render @proposal.refutations %>
<h2>Add a refutation:</h2>
<%= render 'refutations/form' %>
</p>
<p>
  <%= link_to 'Edit', edit_proposal_path(@proposal) %> |
  <%= link_to 'Back', proposals_path %>
</p>


